$grey: #cfd7df ;
$dark-brown: rgb(158, 103, 60);
$light-brown: rgb(215,156,106);
$lightest-brown: rgba(215,156,106,0.3);
$black: rgba(0 ,0 ,0 ,0.84);
$white: rgba(255,255,255,0.95);
$darkest-brown: rgb(87, 49, 16);